<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seclass.sepcamp.daos.TeamMapper">

    <resultMap id="BaseResultMap" type="com.seclass.sepcamp.models.Team">
        <result column="TEAM_ID" jdbcType="INTEGER" property="TeamId" />
        <result column="TEAM_NAME" jdbcType="CHAR" property="TeamName" />
        <result column="LEADER" jdbcType="INTEGER" property="Leader" />
        <result column="PROJECT_ID" jdbcType="INTEGER" property="ProjectId" />
        <result column="TERM" jdbcType="CHAR" property="Term" />
    </resultMap>

    <select id="GetOneTeam" resultType="com.seclass.sepcamp.models.Team">
        select * from sepcamp_team where team_id = #{teamId}
    </select>

    <insert id="CreateTeam" parameterType="com.seclass.sepcamp.models.Team">
        insert into sepcamp_team(TEAM_NAME,LEADER,PROJECT_ID,TERM) values(#{TeamName},#{Leader},#{ProjectId},#{Term})
    </insert>

    <delete id="DeleteOneTeam">
        delete from sepcamp_team where team_id = #{teamId}
    </delete>

    <update id="UpdateTeamNameById" >
        update sepcamp_team set TEAM_NAME =#{teamName}  where team_id = #{teamId}
    </update>

    <update id="UpdateTeamLeaderById" >
        update sepcamp_team set LEADER =#{leaderId}  where team_id = #{teamId}
    </update>

    <update id="UpdateTeamProjectById" >
        update sepcamp_team set PROJECT_ID =#{projectId}  where team_id = #{teamId}
    </update>


    <update id="UpdateTeamTermById" >
        update sepcamp_team set TERM =#{termId}  where team_id = #{teamId}
    </update>

    <update id="UpdateTeamById" parameterType="com.seclass.sepcamp.models.Team">
        update sepcamp_team set TEAM_NAME =#{TeamName},LEADER =#{Leader},PROJECT_ID =#{ProjectId},TERM =#{Term}  where team_id = #{TeamId}
    </update>


</mapper>